{% extends 'base.html.twig' %}
    {% block body %}
    <h2>List of product</h2>
    {% if products is empty %}
        <p>No products have been added yet.</p>
    {% else %}
        <ul>
            {% for product in products %}
              <li><a href="{{ path('show_product',{'id': product.id}) }}">{{ product.nom }}</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            {% endfor %}
        </ul>    
    {% endif %}
{% endblock %}